<h2>My Users</h2>
<ul class="users">
  <li *ngFor="let User of users" (click)="onSelect(User)">
    <span class="badge">{{User.firstName}}</span>
    <span>{{User.lastname}}</span>
  </li>
</ul>
<div *ngIf="selectedUser">
  <h2>{{selectedUser.firstName}} details!</h2>
  <!-- firstname is not editable as it is used as identifier -->
  <div><label>firstname: </label>{{selectedUser.firstName}}</div>
  <form action="">
    <label for="lname">lastname: </label>
    <input [(ngModel)]="selectedUser.lastname" placeholder="lastname" name="lname" id="lname"/>
    <br>

    <label for="date">date: </label>
    <input [(ngModel)]="selectedUser.date" placeholder="date" name="date" id="date"/>
    <br>

    <label for="room">room: </label>
    <input [(ngModel)]="selectedUser.room" placeholder="room" name="room" id="room"/>
    <br>

    <label for="email">email: </label>
    <input [(ngModel)]="selectedUser.email" placeholder="email" name="email" id="email"/>
    <br>

    <label for="gsm">gsm: </label>
    <input [(ngModel)]="selectedUser.gsm" placeholder="gsm" name="gsm" id="gsm"/>
    <br>

    <button (click)="editUser()"> edit user </button>
  </form>
</div>

<!-- unfinished
<div *ngIf="selectedUser">
  <h2>{{selectedUser.name}} details!</h2>
  <div><label>id: </label>{{selectedUser.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="selectedUser.name" placeholder="name" />
  </div>
</div>-->
